<script src="../../src/renderer-process/base-renderer.js"></script>
<link rel="stylesheet" type="text/css" bind-href="{{dirs.css}}/app.css">
<link rel="stylesheet" type="text/css" bind-href="{{dirs.css}}/custom-app.css">
<link rel="stylesheet" type="text/css" bind-href="{{dirs.css}}/circle.css">
<link rel="stylesheet" type="text/css" bind-href="{{dirs.css}}/font-awesome.min.css">
<link rel="stylesheet" type="text/css" bind-href="{{dirs.modules}}/bootstrap/dist/css/bootstrap.min.css">



<div class="content">

    <p><h2>{{setup_read_more_line_title| translate}}</h2></p>
    <br/>
        <div class="read_more_line_1">
            {{setup_read_more_line_1 | translate}}
        </div>
        <br/>
        <div class="read_more_line_2">
            {{setup_read_more_line_2 | translate}}
        </div>
        <br/>
        <div class="read_more_line_3">
            {{setup_read_more_line_3 | translate}}
        </div>
        <div class="">
            <a href="http://folding.stanford.edu" target="_blank">folding.stanford.edu</a>
        </div>
        <br/>

</div>
